tmp
dummy
node_modules
__pycache__

server/upload_dir/
server/MMVC_Client_v13/
server/MMVC_Client_v15/
server/so-vits-svc-40/
server/so-vits-svc-40v2/
server/DDSP-SVC/
server/RVC/
server/keys
server/info
server/in.wav
server/out.wav
server/G_*.pth
server/train_config.json
server/stored_setting.json
# v.1.3.xテスト用モデルフォルダ
server/v13

server/model_hubert
server/model_so-vits-svc-40v2_tsukuyomi/
server/model_so-vits-svc-40v2_amitaro/
server/model_so-vits-svc-40/
server/model_so-vits-svc-40_mahiro/
server/model_so-vits-svc-40_amitaro/
server/model_so-vits-svc-40_tsukuyomi/
server/model_so-vits-svc-40_kikotokurage
model_DDSP-SVC/
server/model_sovits
server/test 

server/memo.md

client/lib/dist
client/lib/worklet/dist
# client/demo/dist/ # demo用に残す

docker/cudnn/

server/pretrain/
server/weights/
server/model_dir/
server/model_dir2/
server/weights_/
server/weights__/
server/models/
server/samples.json
server/samples_0003_t.json
server/samples_0003_o.json
server/samples_0003_t2.json
server/samples_0003_o2.json
server/samples_0003_d2.json

server/test_official_v1_v2.json
server/test_ddpn_v1_v2.json
server/vvclient.log
start_trainer.sh

# venv
venv/


beatrice_internal_api.cp310-win_amd64.pyd