tmp
dummy
node_modules
__pycache__

server/upload_dir/
server/MMVC_Trainer/
server/MMVC_Client/
server/keys
server/info
server/in.wav
server/out.wav
server/G_*.pth
server/train_config.json

server/v13

server/memo.md

client/lib/dist
client/lib/worklet/dist
# client/demo/dist/ # demo用に残す

docker/cudnn/

