dummy
node_modules
__pycache__

server/upload_dir/
server/MMVC_Trainer/
server/MMVC_Client/
server/key
server/info

server/memo.md

client/lib/dist
client/lib/worklet/dist
# client/demo/dist/ # demo用に残す

docker/cudnn/