# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

--extra-index-url https://download.pytorch.org/whl/rocm6.0
# torch 2.4.0 has problems with Linux builds
torch==2.3.1
torchaudio
faiss-cpu==1.8.0

onnxscript
onnxsim
onnxruntime-rocm @ https://repo.radeon.com/rocm/manylinux/rocm-rel-6.0.2/onnxruntime_rocm-inference-1.17.0-cp310-cp310-linux_x86_64.whl
torchcrepe
torchfcpe
safetensors
