##requirements for archlinux+amd
numpy<2.0.0
scipy==1.10.1
matplotlib==3.7.1
cython

uvicorn==0.21.1
fastapi==0.95.1
python-socketio==5.8.0
python-multipart==0.0.6
pyOpenSSL==23.1.1
websockets==11.0.2

librosa==0.9.1
resampy==0.4.2
sounddevice==0.4.6

fairseq
hydra-core==1.0.7
omegaconf==2.0.6
pyworld
faiss-cpu==1.7.3
torchcrepe==0.0.18
torchfcpe==0.0.3
einops==0.6.0
local_attention==1.8.5

onnxruntime-rocm
onnxsim==0.4.28
ml_dtypes

gin-config==0.5.0
dataclasses-json==0.5.7
