# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

torch==2.2.1 # torch-directml is built up to 2.2.1
torchaudio
torch-directml
faiss-cpu

onnxscript
onnxsim
onnxruntime-directml
torchcrepe
pyworld
safetensors
