# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

# PyPI onnxruntime-gpu is compiled with CUDA 11.x
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchaudio
faiss-cpu==1.8.0; sys_platform!='linux'
faiss-gpu; sys_platform=='linux'

onnxscript
onnxsim
onnxruntime-gpu==1.18.0
torchcrepe
torchfcpe
safetensors
