# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

torch==2.3.1 # torch-directml-0.2.2.dev240614 supports up to to 2.3.1
torchaudio
torch-directml
faiss-cpu==1.8.0

onnxscript
onnxsim
onnxruntime-directml
torchcrepe
torchfcpe
safetensors
